@tailwind base;
@tailwind components;
@tailwind utilities;

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

.gradient-title {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 46, 164, 1) 35%, rgba(72, 119, 167, 1) 100%);
}